.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* width: 100px; */
    justify-content: center;
  }

  .image {
      width: 241px;
      height: auto;
  }
  
  .item {
    margin: 5px;
    width: 241px;
      height: auto;
  }
  
  .name {
    text-align: center;
    color: #fff;
  }