a {
    font-family: 'Bodoni Moda', serif;
  }
  
  .list {
    width: 320px;
    padding: 0px;
    margin: 0 auto;
  }
  
  .error {
    color: #fff;
  }
  .item {
    padding: 20px 0;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    list-style: none;
    color: #fff;
    font-family: 'Dosis', sans-serif;
  }
  
  .authorName {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
  }
  
  @media (min-width: 767px) {
    .list {
      width: 760px;
    }
  }
  
  @media (min-width: 940px) {
    .list {
      width: 940px;
    }
  }
  
  @media (min-width: 1024px) {
    .list {
      width: 1024px;
    }
  }